.logo 
  line-height 2.2em
  height 31px
  background rgba(255,255,255,.2)
  margin 16px 24px 16px 0
  float left
  line-height 10px
  color #61DAFB
  padding 5px 10px 5px 0

  svg
    height 20px
    vertical-align middle