@import '~bulma/css/bulma.css';

html
  min-height 100%
  display flex

body, #react-root, .flex-full-page
  display flex
  flex 1

.flex-center-page
  align-items center
  justify-content center
  flex-direction column
