.nav 
  background-color #4267b2
  border-bottom 1px solid #29487d
  color #fff
  display flex
  margin-bottom 20px

  ul
    flex 1
    display flex
    padding 0
    li
      padding 5px
      list-style-type none
      a
        color #fff

  .nav_left, .nav_right
    display flex
    flex 1
    align-items center

  .nav_right
    justify-content flex-end



:global(.my_nav)
  color: yellow